.bg-img {
    background-position:    center;
    background-size:        cover;
    background-image:       url('../../../assets/planPremium/plan01/background-header.jpg');
    height:                 90%;
    width:                  100%;
}